<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cdtu.drive.dao.GroupMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cdtu.drive.pojo.Group">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="g_limit" jdbcType="INTEGER" property="limit" />
    <result column="is_writeable" jdbcType="INTEGER" property="isWriteable" />
    <result column="is_readable" jdbcType="INTEGER" property="isReadable" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `group`
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.cdtu.drive.pojo.Group">
    insert into `group` (id, title,brief,is_writeable,is_readable)
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR},
      #{brief,jdbcType=VARCHAR}, #{isWriteable,jdbcType=INTEGER},
      #{isReadable,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cdtu.drive.pojo.Group">
    update `group`
    set
    <trim suffixOverrides=",">
      title = #{title,jdbcType=VARCHAR},
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="brief != null">
        brief = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="isWriteable != null">
        is_writeable = #{isWriteable,jdbcType=INTEGER},
      </if>
      <if test="isReadable">
        is_readable = #{isReadable,jdbcType=INTEGER}
      </if>
    </trim>
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, title, avatar, brief, g_limit, is_writeable, is_readable
    from `group`
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, avatar, brief, g_limit, is_writeable, is_readable
    from `group`
  </select>

  <select id="selectAllForUser" resultMap="BaseResultMap">
    SELECT * FROM `group` AS g,  group_user AS gu WHERE g.id = gu.g_id AND gu.u_id = #{uId} AND gu.status = 1
  </select>
</mapper>