<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cdtu.drive.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.edu.cdtu.drive.pojo.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>

  <resultMap id="WithPermission" type="cn.edu.cdtu.drive.pojo.Role">
    <id column="r_id" jdbcType="INTEGER" property="id" />
    <result column="r_title" jdbcType="VARCHAR" property="title" />
    <result column="r_create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="r_last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <collection property="permissions" ofType="cn.edu.cdtu.drive.pojo.Permission">
      <id column="p_id" jdbcType="INTEGER" property="id" />
      <result column="p_title" jdbcType="VARCHAR" property="title" />
      <result column="p_remark" jdbcType="VARCHAR" property="remark" />
      <result column="p_menu_id" jdbcType="INTEGER" property="menuId" />
    </collection>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.cdtu.drive.pojo.Role" useGeneratedKeys="true" keyProperty="id">
    insert into role (title, create_date,
      last_update_date)
    values (#{title,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.cdtu.drive.pojo.Role">
    update role
    set title = #{title,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, title, create_date, last_update_date
    from role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, create_date, last_update_date
    from role
  </select>

  <select id="selectAllWithPerm" resultMap="WithPermission">
    SELECT
    r.id AS r_id, r.title AS r_title, r.create_date AS r_create_date, r.last_update_date AS r_last_update_date,
    p.id AS p_id, p.title AS p_title , p.remark AS p_remark, p.menu_id AS p_menu_id
     FROM role AS r, permission AS p, role_perm AS rp WHERE r.id = rp.r_id AND p.id = rp.p_id
  </select>

  <insert id="saveRolePerm">
    INSERT INTO role_perm
    VALUES
    <foreach collection="permIds" item="id" separator=",">
    (#{roleId}, #{id})
    </foreach>
  </insert>

  <delete id="deleteRolePerm">
    DELETE FROM role_perm WHERE
    r_id = #{roleId} AND p_id IN
    <foreach collection="permIds" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>
</mapper>